@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body { 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inner-page {
    padding: 80px 0 40px;
}
.inner-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
}
.inner-page-title {
    font-size: 52px;
    font-weight: 700;
}
.inner-page-text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: #555555;
    line-height: 1.5;
}
.inner-page-link {
    color: #000;
}
.inner-page-link a {
    color: #000;
    text-decoration: underline;
}
.inner-page-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
.inner-page-backlink {
max-width: 770px;
padding: 30px ;
margin: 0 auto;

display: flex;
column-gap: 10px;
align-items: center;
justify-content: center;

color: #000;
background-color: #F1F1F1;
transition: all 0.3s ease-in;

}
.inner-page-backlink:hover {
    background-color: #dbdbdb;
}